<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Implementing RESTful</title>
    <style>
        form input::placeholder {
            color: red;
        }
    </style>
</head>

<body>

    <h1>
        Gateway to insert: 
    </h1>
    <form action="/pokemons" method="GET">
        <input id="inputForm" type="text" placeholder="Search here">
        
    </form>
</body>

</html>